<a href="https://colab.research.google.com/github/danialaffridi/lab1ai/blob/main/ailabtask1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
x = 10  # Assigns the value 10 to the variable x

In [5]:
x = 10
y = 5
result = (x == y)  # Compares whether the value of x is equal to the value of y
print(result)  # Output will be False

False

In [6]:
# Integer variable
integer_variable = 10

# Floating-point variable
float_variable = 3.14

# String variable
string_variable = "Hello, World!"

# Boolean variable
boolean_variable = True

# Displaying the types and values of each variable
print("Integer Variable:", integer_variable, "Type:", type(integer_variable))
print("Float Variable:", float_variable, "Type:", type(float_variable))
print("String Variable:", string_variable, "Type:", type(string_variable))
print("Boolean Variable:", boolean_variable, "Type:", type(boolean_variable))

Integer Variable: 10 Type: <class 'int'>
Float Variable: 3.14 Type: <class 'float'>
String Variable: Hello, World! Type: <class 'str'>
Boolean Variable: True Type: <class 'bool'>

In [13]:

# Variable names with special characters
_myVariable = 60
myVariable_ = 70
my_Variable_1 = 80
print (_myVariable)
print (myVariable_)
print (my_Variable_1)

60
70
80

In [15]:
  a = 10, 20, 30
x = y = z = 20

print (a)
print (x, y)

(10, 20, 30)
20 20

In [ ]:
# Integers
x = 10
y = 5
print("Integer Operations:")
print("Addition:", x + y)
print("Subtraction:", x - y)
print("Multiplication:", x * y)
print("Division:", x / y)

# Floating-point numbers
a = 3.5
b = 2.0
print("\nFloating-point Operations:")
print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

In [ ]:
# Using single quotes
single_quoted_string = 'Hello, world!'

# Using double quotes
double_quoted_string = "Hello, world!"

# Using double quotes when the string contains a single quote
double_quoted_with_single_quote = "It's a beautiful day."

# Using single quotes when the string contains double quotes
single_quoted_with_double_quotes = 'She said, "Hello!"'

# Print statements
print("Single quoted string:", single_quoted_string)
print("Double quoted string:", double_quoted_string)
print("Double quoted string with single quote:", double_quoted_with_single_quote)
print("Single quoted string with double quotes:", single_quoted_with_double_quotes)

In [ ]:
x = 10
print(x)

# Example of outputting multiple variables with print()
y = 20
print(x, y)

# Example of using f-strings to format output
name = "danial"
age = 20
print(f"My name is {name} and I am {age} years old.")

# Example of using f-strings to manipulate variables in output
length = 10
width = 5
area = length * width
print(f"The area of the rectangle is {area}.")