<a href="https://colab.research.google.com/github/danialaffridi/lab1ai/blob/main/AILAB2%263.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TASK 1 :
1.	Print at least 5 types of data type

In [1]:
# Floats
x = 3.14
y = -0.5
z = 1000.0
a = -123.456
b = 0.0
print (x, y, z, a, b)

3.14 -0.5 1000.0 -123.456 0.0

In [2]:
# Integers
c = 10
d = -5
e = 1000
f = -34567
g = 0
print(, c, d, e, f, g)

Integers: 10 -5 1000 -34567 0

In [3]:
# Complex Numbers
h = 2 + 3j
i = -1.5 - 2.5j
j = 4.0 + 1j
k = -0.5 - 0.2j
l = 0 + 0j
print(, h, i, j, k, l)

Complex Numbers: (2+3j) (-1.5-2.5j) (4+1j) (-0.5-0.2j) 0j

TASK 2 :
2.	Write example of type conversion for each ( minimum 3)

In [4]:
# Integer to Float Conversion
int_num = 10
float_num = float(int_num)
print(float_num)
# Integer to Complex Conversion
int_num = 5
complex_num = complex(int_num)
print(complex_num)
# Float to Integer Conversion
float_num = 3.14
int_num = int(float_num)
print(int_num)
# Float to Complex Conversion
float_num = 2.5
complex_num = complex(float_num)
print(complex_num)
# Complex to Integer Conversion
complex_num = 2 + 3j
int_num = int(complex_num.real)  # Take real part for conversion
print(int_num)
# Complex to Float Conversion
complex_num = 4 + 2j
float_num = float(complex_num.real)  # Take real part for conversion
print(float_num)

10.0
(5+0j)
3
(2.5+0j)
2
4.0

TASK 3 :
3.	Assign multiple strings to single variable with your name , registration number, program , semester etc

In [5]:
student_info = '''
Name: DANIAL AFRIDI,
Registration Number: B22F0974AI008,
Program: AI,
Semester: 4th
'''
# Print the variable value
print(student_info)

Name: DANIAL AFRIDI,
Registration Number: B22F0974AI008,
Program: AI,
Semester: 4th

TASK 4:
4.	Write Your country name and access the last 3 characters

In [6]:
country_name = "PALESTINE"
last_three_characters = country_name[-3:]
print(last_three_characters)

INE

TASK 5:
5.	Write code and observe using len() function it count space or not.

In [ ]:
# string with spaces
my_string = "Hello, world!"

# Counting the number of characters in the string
print("Length of string:", len(my_string))

# Defining a string with no spaces
no_space_string = "HelloWorld"

# Counting the number of characters in the string
print("Length of string with no spaces:", len(no_space_string))

TASK 6:
6.	Write code to access the 2nd and 3rd character of your name using negative indexes.

In [ ]:
# name
name = "DANIAL AFRIDI"

# Access the 2nd character from the end (index -2)
second_char = name[-2]

# Access the 3rd character from the end (index -3)
third_char = name[-3]

print("2nd character from the end:", second_char)
print("3rd character from the end:", third_char)

TASK 7:
7.	Write python code in which you pass index number to format() function and arguments must be 4 and same code without indexes.

In [8]:
formatted_with_index = "{1} {0} {2} {3}".format(4, "same", "code", "without")
print("Formatted with index numbers:", formatted_with_index)

Formatted with index numbers: same 4 code without

TASK 8:
8.	Take input from user and  than display it like “John age is: age”

In [ ]:
name = str(input("Enter your name: "))
age = int(input("Enter your age: "))

print(name," age is ",age)