<a href="https://colab.research.google.com/github/danialaffridi/PROGRAMMING-FOR-AI-LAB/blob/main/lab4%265task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.LIST ITEMS:

In [1]:
fruits = ["apple", "banana", "orange", "grape"]
print("First item:", fruits[0])
print("Last item:", fruits[-1])

First item: apple
Last item: grape

In [ ]:
2.CHANGE LIST ITEM:

In [2]:
colors = ["red", "green", "yellow"]
colors[1] = "blue"
print(colors)

['red', 'blue', 'yellow']

3.3.	Add List Items:
•	Create a list of numbers.
•	Add the number 10 at the end of the list.

In [3]:
numbers = [1, 2, 3, 4, 5]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 10]

4.	Remove List Items:
•	Create a list of animals.
•	Remove the third item from the list.

In [4]:
animals = ["lion", "elephant", "tiger", "zebra"]
del animals[2]
print(animals)

['lion', 'elephant', 'zebra']

5.	Loop Lists:
•	Create a list of cities.
•	Loop through the list and print each city.

In [17]:
cities = ["Multan", "Liyari", "dara adam kheil"]
for city in cities:
    print(city)

Multan
Liyari
dara adam kheil

6.	List Comprehension:
•	Create a list of numbers from 1 to 10.
•	Use list comprehension to create a new list containing the square of each number.

In [6]:
numbers = [i for i in range(1, 11)]
squared_numbers = [x ** 2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

7.	Sort Lists:
•	Create a list of names.
•	Sort the list alphabetically

In [18]:
names = ["danial", "suleiman", "afridi", "afridi2.0"]
names.sort()
print(names)

['afridi', 'afridi2.0', 'danial', 'suleiman']

8.	Copy Lists:
•	Create a list of fruits.
•	Copy the list into a new list.

In [19]:
Fruits = ["apple", "banana", "orange"]
new_fruits = fruits.copy()
print(new_fruits)

['apple', 'banana', 'orange']

9.	Join Lists:
•	Create two lists of numbers.
•	Join the two lists into a single list.

In [9]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
joined_list = list1 + list2
print(joined_list)

[1, 2, 3, 4, 5, 6]

10.	List Methods:
•	Create a list of fruits.
•	Use the append() method to add a new fruit to the list.
•	Use the pop() method to remove the last fruit from the list.

In [11]:
fruits = ["apple", "banana", "orange"]
fruits.append("grape")
print(fruits)
last_fruit = fruits.pop()
print("Last fruit removed:", last_fruit)

['apple', 'banana', 'orange', 'grape']
Last fruit removed: grape

11.	Combining Lists and List Comprehension:

•	Create two lists, one containing numbers from 1 to 5 and another containing numbers from 6 to 10.
•	Use list comprehension to create a new list that contains the sum of corresponding elements from the two lists.

In [12]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
sum_list = [x + y for x, y in zip(list1, list2)]
print(sum_list)

[7, 9, 11, 13, 15]

12.	Filtering and Sorting:
Create a list of numbers.
•	Use list comprehension to create a new list containing only the even numbers from the original list.
•	Sort the new list in descending order.

In [13]:
numbers = [7, 2, 5, 8, 3, 6, 1, 4]
even_numbers = [x for x in numbers if x % 2 == 0]
even_numbers.sort(reverse=True)
print(even_numbers)

[8, 6, 4, 2]

13.	List Slicing and Reversing:
•	Create a list of numbers from 1 to 10.
•	Use list slicing to create a new list containing only the even numbers from the original list, in reverse order.

In [14]:
numbers = list(range(1, 11))
even_reverse = numbers[-1::-2]
print(even_reverse)

[10, 8, 6, 4, 2]

14.	Combining Lists and List Methods:
•	Create two lists, one containing even numbers and another containing odd numbers.
•	Use list methods to combine the two lists into a single list, alternating between even and odd numbers.

In [15]:
even_numbers = [2, 4, 6, 8, 10]
odd_numbers = [1, 3, 5, 7, 9]
combined_list = []
for even, odd in zip(even_numbers, odd_numbers):
    combined_list.append(even)
    combined_list.append(odd)
print(combined_list)

[2, 1, 4, 3, 6, 5, 8, 7, 10, 9]